body{
    font-family: 'Poppins', sans-serif !important;
}

.Calendar {
    margin: 4rem 0;
}

.Calendar-dayNames {
    font-weight: 500;
    margin-top: 2rem;
    text-align: center;
}


.Calendar-days {
    margin-top: 1rem;
    text-align: center;
}

.Calendar-days:hover {
    background-color: antiquewhite;
}