.CalendarDay p {
    border-radius: 16px;
    display:inline-block;
    margin: 0px auto;
    padding: 16px 24px;
}

.CalendarDay p:hover {
    background-color: #e5ebfc;
}

.CalendarDay-sunday {
    color: #5C8DFE;
}

.CalendarDay-holiday {
    color: #8262FF;
    font-weight: 700;
}