.CalendarDay {
    border-radius: 16px;
    margin: 0.5rem !important;
    padding: 1rem 0 !important;
}

.CalendarDay:hover {
    background-color: #e5ebfc;
    cursor: pointer;
}

.CalendarDay.active {
    background-color: #e5ebfc;
}

.CalendarDay-sunday {
    color: #5C8DFE;
}

.CalendarDay-holiday {
    color: #8262FF;
    font-weight: 700;
}

.CalendarDay-empty:hover {
    background-color: #fff;
}