body{
    font-family: 'Poppins', sans-serif !important;
    text-align: center !important;
}

h1 {
    font-weight: 700 !important;
    font-size: 4rem !important;
    color: #5C8DFE;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


.form-control:focus {
    border-color: #5C8DFE !important;
    box-shadow: inset 0 0px 2px #5C8DFE, 0 0 6px #5C8DFE !important;
}


.Calendar {
    margin: 5rem 0;
}

.Calendar-title {
    margin-bottom: 3rem;
}

.Calendar-alert {
    margin-top: 1rem;
    background-color: #e5ebfc !important;
    color: #5C8DFE !important;
    border-color: #dfe9fd !important;
    font-weight: 500;
}

.Calendar-dayNames {
    font-weight: 500;
    margin-top: 2rem;
}


.Calendar-days {
    margin-top: 1rem;
}

.Calendar-days:hover {
    background-color: antiquewhite;
}


.Button-today {
    border-color: #5C8DFE !important;
    padding: 12px !important;
    color: #5C8DFE !important;
}

.Button-today:hover {
    border-color: #fff !important;
    background-color: #5C8DFE !important;
    color: #fff !important;
}